nguage: ruby
rvm:
  - 2.2
before_script:
  - gem install awesome_bot
script:
  - if (git diff master.. -U0 README.md | grep -Po "(?<=^\+).*"){ git diff master.. -U0 README.md | grep -Po "(?<=^\+).*" >> temp.md }
  - awesome_bot temp.md --allow-dupe --white-list medium,jacobwgillespie,wehavefaces,graphql.slack,vimeo,slideshare
