name: Awesome Bot

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  schedule:
    - cron: "0 0 * * 0" # Runs every Sunday at midnight UTC. You can customize the schedule using cron syntax.

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby 3.3
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
      - name: Checks
        run: |
          gem install awesome_bot
          awesome_bot README.md --allow-ssl --allow-dupe --allow-redirect --allow 429 --white-list x.com,stackoverflow.com,reddit.com,drupal.org,vimeo.com,escape.tech
